<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CSTestForge Example Suite" parallel="tests" thread-count="2">
    <test name="Login Test">
        <classes>
            <class name="com.cstestforge.framework.selenium.example_test.test.LoginTest" />
        </classes>
    </test>
</suite>